// Colors
$isabelline: rgba(243, 239, 236, 1);
$timberwolf: rgba(214, 207, 203, 1);
$pale-dogwood: rgba(204, 183, 174, 1);
$mountbatten-pink: rgba(166, 128, 140, 1);
$dim-gray: rgba(112, 102, 119, 1);
$davys-gray: rgba(86, 82, 100, 1);
$russian-violet: rgba(50, 38, 53, 1);
// 50% opacity
$isabelline-50: rgba(243, 239, 236, .5);
$timberwolf-50: rgba(214, 207, 203, .5);
$pale-dogwood-50: rgba(204, 183, 174, .5);
$mountbatten-pink-50: rgba(166, 128, 140, .5);
$dim-gray-50: rgba(112, 102, 119, .5);
$davys-gray-50: rgba(86, 82, 100, .5);
$russian-violet-50: rgba(50, 38, 53, .5);

// Layout
$footer-bg: $pale-dogwood-50;
$nav-bg: $davys-gray;
$nav-text: $isabelline;
