<a class='skip-nav' href='#main'>Skip to main content</a>

<nav id='main-navigation'>
  <ul class='main-nav'>
    <li class='main-nav__item'>
      <%= link_to 'Home', root_path, class: current_page(root_path, "main-nav__item-link") %>
    </li>
  </ul>
</nav>
